.wrap{
    border: #6e9b9e solid;
    width: 234px;
    height: 380px;
    border-radius: 10px;
    margin: 20px auto;
    font-family: sans-serif;
}
.logo_panel{
	background: #6e9b9e ;
	height: 50px;
	margin: 15px 0 0 0;
	overflow: hidden;
	line-height: 50px;
	text-align: right;
	color: #fff;
	font-weight: bold;
	padding: 0 10px;
	}
input{
	color: #6e9b9e;
    border: #6e9b9e solid;
    border-radius: 5px;
    margin: 10px;
    width: 199px;
    height: 20px;
    text-align: right;
}
.panel{
    background: #6e9b9e;
    height: 30px;
    width: 43px;
    margin: 0 0 0 150px;
    overflow: hidden;
    line-height: 50px;
    text-align: right;
    color: #fff;
    font-weight: bold;
    padding: 0 10px;
	}
	.parent {
  width: 230px;
  height: 200px;
 /* min-height: 20px;*/
  margin: 10px;
}
.rows {
  width: 40px;
  height: 40px;
  background: #fff;
  margin: 4px;
  float: left;
  border-radius: 5px;
  border: #6e9b9e solid;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  color: #6e9b9e;
}